version: "3.8"
services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    cap_add:
      - IPC_LOCK
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./config:/home/vault/config
      - ./data:/home/vault/data
      - ./logs:/home/vault/logs
      - ./certs:/home/tls
    environment:
      VAULT_ADDR: "https://0.0.0.0:8200"
      VAULT_CACERT: "/home/tls/ca-cert.pem"
    command: vault server -config=/home/vault/config/vault.hcl