name: Rotate Secret

on:
  # commenting out cron job for now to avoid unnecessary rotations during testing, can be re-enabled later
  # # Schedule the workflow to run at 3 AM every day
  # schedule:
  #   - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  rotate:
    runs-on: ubuntu-latest

    steps:
      - name: Authenticate to Vault
        uses: hashicorp/vault-action@v3
        with:
          url: https://vault.yral.com
          method: jwt
          role: vault-service-role
          jwtGithubAudience: "https://github.com/dolr-ai"
          exportToken: true
      
      - name: Install Vault CLI
        run: |
          wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install vault

      - name: Set Secrets
        env:
          VAULT_ADDR: https://vault.yral.com
        run: |
          NEW_PASS=$(openssl rand -base64 32)
          vault kv patch secret/test-app/config test_pass="$NEW_PASS"
          echo "Secret rotated successfully"
