name: Deploy Test Application

on:
  workflow_dispatch:

# Required: Add permissions for OIDC token
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Import Secrets from Vault
        uses: hashicorp/vault-action@v3
        with:
          url: https://vault.yral.com
          method: jwt
          role: vault-service-role
          # Optional: customize the audience
          jwtGithubAudience: "https://github.com/dolr-ai"
          secrets: |
            secret/data/test-app/TEST_PASS value | DB_PASSWORD ;
            secret/data/test-app/TEST_USER value | DB_USERNAME ;
      
      - name: Use secrets in deployment
        run: |
          echo "Secrets retrieved successfully"
          # printing the value since it is just for demonstration and testing, avoid printing secrets in real workflows.
          echo DB_USERNAME: $(echo $DB_USERNAME | sed 's/./& /g')
          echo DB_PASSWORD: $(echo $DB_PASSWORD | sed 's/./& /g')
